.featured-categories-card .card.quiz-card {
  width: 100%;
  background: var(--secondary-color);
  border: none;
}

.featured-categories-card .card-body {
  color: var(--white);
  padding: 1rem;
}

.featured-categories-card .card-header {
  height: 190px;
}

.featured-categories-card .card-header img {
  height: 100%;
}

.featured-categories-card .card-body .text-badge {
  display: inline-block;
  background: var(--primary-color);
  padding: 4px 12px;
  font-size: 0.75rem;
  border-radius: 16px;
  font-weight: 400;
}

.featured-categories-card .card-body .card-title {
  padding: 0.5rem 0;
}

.featured-categories-card .card-body .card-description {
  color: var(--gray-300);
  font-size: 1rem;
  line-height: 1.4;
}

.featured-categories-card .btn.btn-play {
  background: var(--accent-color);
  color: var(--gray-800);
  width: 100%;
  margin-top: 1.5rem;
  transition: all 0.3s ease-in-out;
}

.featured-categories-card .btn.btn-play:hover {
  background: var(--primary-color);
  color: var(--gray-100);
}
